* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    
}


.div-1 {
    height: 100vh;
    width: 100vw;
}

.inicio-1 {
display: inline-block; /* usado para separ tipo coluna*/
width: 60%;
padding-left: 120px;

}

.inicio-2 {
display: inline-block;
background-color: rgba(93, 93, 125, 0.16);
width: 40%;
height: 100vh;
position: absolute;


}

a {

    font-size: 28px; 
    line-height: 41px;  
    color: #5D5D7D;
    cursor: pointer;
    margin-right: 40px;
    
}


img {
position: relative;
top: 25%;
right: 130px;
}

h1 {

font-size: 70px;
line-height: 80px;
color: #5D5D7D;
margin-top: 50%;
}

P {
width: 86%;
font-size: 28px;
line-height: 48px;
color: #5D5D7D;
opacity: 0.6;
margin: 15px 0;
}

button {
    box-shadow: 0px 10px 24px  #9499EA19;
    background: #9499EA;
    width: 269px;
    height: 62px;
    font-family: Oswald;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: .5;
}

a:nth-child(2) {

   opacity: 40%;

}
a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px){

    .inicio-1 {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
}

    .inicio-2 {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }
 
    img {
        position: static;
        max-width: 80%;
    }

    header {
        display: none;
    }

    h1  {
        font-size: 36px;
        line-height: 52px ;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px ;
    }

    button {
        margin: 0 auto;
        display: block;
    }

}
